
/* .internalContainer {
  border: 1px solid red;
  padding: 20px;
  margin-top: 50px;
} */


.toDoRowWrap {
  width: 50%;
  display: flex;
  align-items: center;
}

.notStarted {
  background-color: tomato;
}

.started {
  background-color: lightgreen;
  color: black;
}
